* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #264653;
}

.header-btn {
    background-color: #e76f51;
}

.best-bike,
.changes-color {
    color: #e76f51;
}

.grayscale-img {
    filter: grayscale(100%);
}


hr{
    
    border: 2px solid #DC3545;
    opacity: 1;
    width: 60%;
    margin:auto;
    margin-bottom: 50px;
}

.bonus-section-img {
    transition: 0.3s;
}

.bonus-section-img:hover {
    transform: translateY(-10px);
}
